<h2>Todo list</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>

      <% if task.completed? %>
        <input type="checkbox" checked>
      <% else %>
        <input type="checkbox">
      <% end %>

      <p style="display:inline">
        <%= task.title %>
      </p>
    </li>
  <% end %>
</ul>
